{% extends "base.html" %}

{% block title %}
Donate Food
{% endblock %}

{% block content %}

<div class="form-box">

    <h1>Donate Food</h1>

    <form method="POST">

        <label>Food Name</label>

        <input type="text"
               name="food_name"
               placeholder="Example: Rice, Chapati, Fruits"
               required>


        <label>Quantity</label>

        <input type="text"
               name="quantity"
               placeholder="Example: 10 plates"
               required>


        <label>Description</label>

        <textarea name="description"
                  placeholder="Enter food details"></textarea>


        <label>Pickup / Food Location</label>

        <input type="text"
               name="location"
               placeholder="Enter location"
               required>


        <button type="submit">
            Submit Donation
        </button>

    </form>

</div>

{% endblock %}